.top-5 {
  margin-top: 5px;
}
.top-10 {
  margin-top: 10px;
}
.top-15 {
  margin-top: 15px;
}
.top-20 {
  margin-top: 20px;
}
.top-25 {
  margin-top: 25px;
}
.top-30 {
  margin-top: 30px;
}
.top-35 {
  margin-top: 35px;
}
.bottom-5 {
  margin-bottom: 5px;
}
.bottom-10 {
  margin-bottom: 10px;
}
.bottom-15 {
  margin-bottom: 15px;
}
.bottom-20 {
  margin-bottom: 20px;
}
.bottom-25 {
  margin-bottom: 25px;
}
.bottom-30 {
  margin-bottom: 30px;
}
.bottom-35 {
  margin-bottom: 35px;
}
.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-30 {
  margin-right: 30px;
}
.ml-30 {
  margin-left: 30px;
}
.padding-5 {
  padding: 5px;
}
